* {
	margin: 0;
}

.container {
	max-width: 1600px;
	width: calc(100% - 120px);
	margin: 60px auto;
}

h1 {
	font-family: "nimbus-sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 40px;
	line-height: 125%;
}

h3 {
	font-family: "nimbus-sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
}

p {
	font-family: "nimbus-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: #888;
}

/* Nav */

#nav {
	overflow: hidden;
}

#mark {
	float: right;
}

/* Header */

#header {
	margin: 90px 0 120px 0;
	max-width: 1190px;
}

/* Work */

#work div.row {
	display: flex;
}

#work a {
	flex: 1;
	width: 100%;
	padding-top: 30.9%;
	position: relative;
}

#work a h3 {
	color: #fff;
	position: absolute;
	top: 40px;
	left: 30px;
}

#kofa {
	background: linear-gradient(to left top, #4b0f84, #9b51e0);
}

#mix-and-mac {
	background: linear-gradient(to left top, #fd9122, #ffab00);
}

#shorthand {
	background: linear-gradient(to left top, #2d9cdb, #56ccf2);
}

#cycle {
	background: linear-gradient(to left top, #f2c94c, #ffeb00);
}

#digital-canvas {
	background: linear-gradient(to left top, #b01313, #eb5757);
}

#nextdoor {
	background: linear-gradient(to left top, #219653, #27ae60);
}

/* Footer */

#footer {
	display: flex;
	align-items: flex-end;
	margin-top: 120px;
}

#footer div {
	flex: 1;
}

#footer .right {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

#footer .right p {
	flex: 1;
}

/* Fade */

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.fade {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.75s;
}

/* Responsive */

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1280px) {
  h1 {
  	font-size: 52px;
  }

  h3 {
  	font-size: 36px;
  }

  p {
  	font-size: 20px;
  }
}
