body {
	font-family: 'Roboto', sans-serif;
	margin: 100px 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.bold {
	font-weight: 500;
}

.underline {
	text-decoration: underline;
}

.copy {
	width: 480px;
	margin: 40px 40px 0 40px;
}

.copy h1 {
	font-size: 22.4px;
	font-weight: 400;
	margin-bottom: 0;
}

.copy h2 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
}

.copy p {
	font-size: 16px;
	font-weight: 300;
}

#content {
	width: 560px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
}

#content img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#greeting h1 {
	font-size: 40px;
	font-weight: 300;
	margin: 0;
}

#greeting h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0 0 0;
}

#links {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}

#nav {
	width: 160;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	margin: 0 20px;
}

#nav h1 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

#nav h2 {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	margin: 15px 0 0 0;
}

#nav p {
	font-size: 14px;
	font-weight: 400;
	margin: 7px 0 0 0;
}

.mobile {
	display: none;
}

.mobile h1 {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	margin: 10% 0 0 0;
}

.mobile h1:first-of-type {
	margin: 0;
}

.mobile img {
	width: 100%;
	margin: 5% 0 0 0;
}

.mobile a {
	text-decoration: none;
}

@media (max-width: 799px) {
	body {
		margin: 10% 0;
	}

	a {
		text-decoration: underline;
	}

	.container {
		width: 80%;
		margin: 0 10%;
	}

	.mobile {
		display: block;
	}

	.copy {
		width: 80%;
		margin: 10% 10% 0 10%;
	}

	#content {
		width: 100%;
		margin: 0 0 10% 0;
	}

	#greeting h1 {
		font-size: 30px;
	}

	#greeting h2 {
		font-size: 18px;
	}

	#nav {
		display: none;
	}
}