* {
	margin: 0;
}

.container {
	margin: 80px 80px;
	width: 480px;
}

h1 {
	font-family: "Work Sans";
	font-weight: 300;
	font-size: 36px;
	line-height: 120%;
	color: #777;
}

p {
	font-family: "Work Sans";
	font-weight: 300;
	font-size: 18px;
	line-height: 180%;
	color: #777;
}

p:not(:first-of-type) {
	margin-top: 20px;
}

p#footer {
	 position: absolute;
	 bottom: 80px;
}

a, a:visited {
	text-decoration: none;
	color: #777;
	border-bottom: 1px solid rgba(0, 0, 0, 0);

	-webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

a:hover, a:focus {
	color: #000;
}

@media only screen and (max-width: 699px) {
	.container {
		width: 80%;
		margin: 10% 10%;
	}

	p#footer {
		position: initial;
	}

	a {
		color: #000 !important;
	}
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
 
.fade {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
 
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
 
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s;
}
